<app-header></app-header>
<div class="row">

  <div class="btn-group btn-group-lg m-3" role="group" aria-label="...">
    <button class="btn btn-outline-warning text-dark"  [routerLink]="['/']">Home</button>
    <button class="btn btn-outline-warning text-dark" [routerLink]="['/product']">Products</button>
    <button class="btn btn-outline-warning text-dark" [routerLink]="['/customer']">Customers</button>
  </div>
  <div class=" m-2 p-3 border">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
